body {
    background-color: #f7f7f7;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
}

.custom-gradient {
  background: linear-gradient(to right, white, #460082); /* left to right */
  /* Optional: Add fallback and blending */
    background-color: white;
}

.container {
    height: 100%; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    border-radius: 50%; /* Make the image round */
    width: 150px; /* Adjust width */
    height: 150px; /* Adjust height */
    object-fit: cover; /* Ensures the image fits within the circle */
    border: 5px solid #fff; /* Optional: adds a border around the image */
}

h1, p {
    text-align: center;
}

.btn {
    border-radius: 25px;
    padding: 12px 30px; /* Adjust padding for a more balanced look */
    margin-bottom: 10px; /* Add spacing between buttons */
}

.social-links {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center the buttons */
    width: 100%; /* Ensure buttons span full width */
}

.animate__fadeIn {
    animation-duration: 1.5s; /* Duration of the fade-in */
    animation-timing-function: ease-out; /* Smooth easing for fade-in */
}

.shiny-text {
    font-size: 36px; /* Adjust size as needed */
    font-weight: bold;
    background-image: linear-gradient(to right,	#367588,	#89CFF0, blue, #76ABDF,#BEDBED, #CCCCFF); 
    background-size: 200% 100%;
    background-position: 100% 0;
    color: transparent;
    -webkit-background-clip: text;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

/* scroll-down */
.scroll-down-icon {
    font-size: 2rem;
    color: #007bff;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.scroll-up-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    background-color: #460082;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    outline: 1px solid black;
}

.scroll-up-btn:hover {
    background-color: #460082;
}

.navbar {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.footer-color {
  /* background: linear-gradient(to right, white, #460082); /* left to right */
    background-color: #460082;
}